@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.wps_mantura_wrapper
{
	width:100%;
}

.wps_mantura_clear
{
	clear:both;
	height:5px;
	width:100%;
}

.wps_floatr
{
	float:right;
}

.wps_floatl
{
	float:left;
}

.wps_mantura_add_link
{
	padding:10px 15px;
	text-decoration:none;
	text-transform:uppercase;
	background:#4d4e7e;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	font-size:12px;
	text-align:center;
}

.wps_mantura_add_link:hover
{
	color:#fff;
}


.wps-mantura-inline-modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.wps-mantura-inline-modal .wps-mantura-inline-modal-content {
 
    margin: 15% auto; 
    width: 50%;	
	position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
   -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.wps-mantura-inline-modal .wps-mantura-inline-modal-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.wps-mantura-inline-modal .wps-mantura-inline-modal-body
{
	padding: 15px;
	font-size:12px;
}

.wps-mantura-inline-modal .wps-mantura-inline-modal-header .wps-mantura-inline-modal-title
{
	margin:1px 0px;
	font-size:16px;
    padding-right: 20px;
}

/* The Close Button */
.wps-mantura-inline-modal .wps-mantura-inline-modal-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
	position:absolute;
	right: 10px;
    top: 0px;
    bottom: 0px;
	cursor:pointer;
}

.wps-mantura-inline-modal .wps-mantura-inline-modal-close:hover,
.wps-mantura-inline-modal .wps-mantura-inline-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wps-mantura-inline-modal-table
{
	width:100%;
	border:0px;
}

.wps-mantura-inline-modal-table td,
.wps-mantura-inline-modal-table th,
.wps-mantura-inline-modal-table tr
{
	border:0px;
	text-align:left;
}

.wps_mantura_wrapper table
{
	width:100%;
	margin:20px 0px;
}

.wps_mantura_wrapper table td
{
	vertical-align:top;
}

.wps-mantura-inline-modal-table td
{
	text-align:left;
}

.wps-mantura-inline-modal-table td input[type="text"],
.wps-mantura-inline-modal-table td textarea
{
	width:100%;
}

.wps-mantura-inline-modal-table td textarea
{
	height:200px;
}

.wps-mantura-inline-modal-table td input[type="submit"]
{
	padding:15px 20px;
	text-decoration:none;
	text-transform:uppercase;
	background:#4d4e7e;
	color:#fff;
	font-size:12px;
	text-align:center;
}